<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{layoutBase :: head}">
<meta charset="UTF-8">
</head>

<body>
	<div th:replace="~{layoutBase :: navbar}"></div>

<div class="container" style="margin: 50px auto">
<h3 style="text-align: center; margin-bottom: 10px;">Listagem de Usuários Cadastrados
</h3>
<a class="btn btn-success btn-lg" href="/springsec/newUser"
	style="text-align: left; margin-bottom: 20px"><b>Novo
	Usuário</b></a>
</div>

<div class="container" style="margin: 20px auto">
<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">Email</th>
					<th scope="col">Nível de Acesso</th>
					<th scope="col" colspan:"2">Opções</th>
				</tr>
			</thead>
			<tbody style="font-size: 1.2rem">
				<tr th:each="u : ${usuario}">
					<td th:text="${u.nome}"></td>
					<td th:text="${u.email}"></td>
					<td th:text="${u.role}"></td>
					<td style="width:50px"><a class="btn btn-outline-danger"
							th:href="@{/springsec/delete/{id}(id=${u.id})}">Excluir</a></td>
						<td style="width:50px"><a class="btn btn-outline-info"
							th:href="@{/springsec/update/{id}(id=${u.id})}">Editar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
<footer><div th:replace="~{layoutBase :: footer}"></div></footer>
</html>