<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<!--suppress ALL -->
<head th:fragment="head">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<title>Gerenciador de Usuários</title>
</head>

<div th:fragment="navbar">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary"
		style="height: 100px; padding-left: 50px !important; padding-right: 50px !important;">
		<div class="container-fluid" style="font-size: 1.2rem;">
			<a class="navbar-brand" href="/springsec/home" style="font-size: 1.5rem;"><b>JUsers</b></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarColor01"
				aria-controls="navbarColor01" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item"><a class="nav-link" href="/springsec/home">Início</a></li>
					<li class="nav-item"><a class="nav-link" href="/springsec/search">Pesquisar</a></li>
					<li class="nav-item"><a class="nav-link" href="/springsec/all">Ver Todos</a></li>
					<li class="nav-item"><a class="nav-link" href="/springsec/newUser">Cadastrar</a></li>
					<li class="nav-item"><a class="nav-link" href="/springsec/upDel">Atualizar</a></li>
					<li class="nav-item"><a class="nav-link" href="/springsec/upDel">Excluir</a></li>
				</ul>
			<a class="btn btn-lg btn-outline-success my-2 my-sm-0" href="logout">Sair</a>
</div>
</div>
</nav>
</div>

<div th:fragment="footer">
	<div
		style="width: 100%; height: 5vh; z-index: 1; position: absolute; bottom: 0; text-align: center;">
		<p>
			Academia Java Atos 2022 - Feito por <b>Cristhiane da Cruz</b>
		</p>
	</div>
</div>

</html>