<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{layoutBase :: head}">
<meta charset="UTF-8">
</head>

<style>
#role {
  text-transform: uppercase;
}
</style>

<body>
	<div th:replace="~{layoutBase :: navbar}"></div>

	<div class="container"
		style="margin: 40px auto; display: flex; justify-content: center;">
		<!-- style="display: flex; flex-direction: column; align-items: center;" -->

		<form style="width: 40vw;" action="#" th:action="@{/springsec/add}"
			th:object="${usuario}" method="post">
			<fieldset>
				<legend style="text-align: center;">Novo Usuário</legend>

					<div class="form-group">
						<label for="exampleInputEmail1" class="form-label mt-4">Nome</label>
						<input type="text" class="form-control" name="nome" id="nome"
							placeholder="Nome e Sobrenome" th:field="*{nome}" minlength="5" maxlength="50">
						<!-- <span class="invalid-feedback" th:if="$#fields.hasErrors('nome')" th:errors="*{nome}"></span> -->
					</div>

					<div class="form-group">
						<label for="exampleInputEmail1" class="form-label mt-4">Email</label>
						<input type="email" class="form-control" name="email" id="email"
							placeholder="nome@email.com" th:field="*{email}">
							<!-- <span class="invalid-feedback" th:if="$#fields.hasErrors('email')" th:errors="*{email}"></span> -->
					</div>

					<div class="form-group">
						<label for="exampleInputEmail1" class="form-label mt-4">Senha</label>
						<input type="password" class="form-control" name="senha"
							id="senha" th:field="*{senha}" minlength="3" maxlength="10">
							<!-- <span class="invalid-feedback" th:if="$#fields.hasErrors('senha')" th:errors="*{senha}"></span> -->
					</div>
					
					<!--  <div class="form-group">
						<label for="exampleInputEmail1" class="form-label mt-4">Nível de acesso</label>
						<input type="text" class="form-control" name="role"
							id="role" :field="*{role}" placeholder="ADMIN ou USER" minlength="4" maxlength="5" onkeyup="this.value=this.value.toUpperCase()"> -->
							<!-- <span class="invalid-feedback" :if="$#fields.hasErrors('role')" th:errors="*{role}"></span> </div>-->
					
			</fieldset>
			<div class="form-group"
				style="margin: 30px auto; display: flex; flex-flow: row nowrap; justify-content: space-around;">
				<a href="/springsec/home/" class="btn btn-lg btn-outline-secondary"
					style="width: 40%;">Cancelar</a> <input type="submit"
					class="btn btn-lg btn-success" style="width: 40%;" value="Cadastrar"></input>
			</div>

		</form>
	</div>

</body>
</html>