<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{layoutBase :: head}">
<meta charset="UTF-8">
</head>
<body>

	<div th:replace="~{layoutBase :: navbar}"></div>

	<div class="container">
		<div th:fragment="search">
	<form action="#" method="post" th:action="@{/springsec/search}"
		th:object="${usuario}" style="width: 50vw">
		<fieldset>
			<div class="form-group">
				<label class="col-form-label col-form-label-lg mt-4"
					for="inputLarge" style="align-self: justify">Pesquisa por
					Nome:</label>
				<div class="input-group mb-3">
					<input class="form-control form-control-lg" type="text"
						placeholder="Nome do Usuário" name="searchUser" required
						maxlength="50" minlength="2">
					<button type="submit" class="btn btn-success">Buscar</button>
				</div>
			</div>
		</fieldset>
	</form>
	</div>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Email</th>
					<!-- <th>Nível de Acesso</th> -->
				</tr>
			</thead>
			<tbody style="font-size: 1.2rem">
				<tr th:each="u : ${usuario}">
					<td th:text="${u.nome}"></td>
					<td th:text="${u.email}"></td>
					<!-- <td text="${u.role}"></td> -->
				</tr>
			</tbody>
		</table>
	</div>
</body>
<footer th:replace="~{layoutBase :: footer}"></footer>
</html>
